{% extends 'front/base.html' %}
{% load static %}
{% block content %}
      <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main mt-5" id="top">
      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>
        <div class="container">
          <div class="py-0">
            <p class="text-dark text-center fs-1"><b>Rekomendasi Restoran untuk Kamu</b></p>            
          </div>
        </div>
        <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0">
          <div class="container">
                {% for tm in tempat %}
                <div class="card">
                    <img src="{{ tm.thumb }}" class="card-img-top" alt="rover">
                    <div class="card-body">
                      <p><b>{{ tm.nama}}</b></p>
                      <p>0{{ tm.kontak}}</p>
                      <a href="sd" class="getstarted">Read More</a>
                  </div>
                </div>
                {% endfor %}   
            </div>   
       <!-- end of .container-->
      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->

    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section>

      <div class="container bg-dark overflow-hidden rounded-1">
        <div class="bg-holder" style="background-image:url(assets/img/promo/promo-bg.png);">
        </div>
        <!--/.bg-holder-->
      </div>
      <!-- end of .container-->

    </section>

{% endblock content %}
